<h3>CAKES</h3>
   <div class="row">
        <div class="cakes col s12">
            <img class="cakes responsive-img" src="images/cake1.jpg">
            <img class="cakes responsive-img" src="images/cake2.jpg">
            <img class="cakes responsive-img" src="images/cake3.jpg">
            <img class="cakes responsive-img" src="images/cake4.jpg">
        </div>
    </div>
