<h3 class="yes">Cakes</h3>
<div class="container">
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/cake1.jpg">
          <span class="card-title">JustCake</span>
        </div>
        <div class="card-content">
          <p class="price"> JustCake $9.99</p>
        </div>
      </div>
    </div>
     <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/cake3.jpg">
          <span class="card-title">Caramel</span>
        </div>
        <div class="card-content">
          <p class="price">Caramel $9.99</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div id="muffspecial" class="card">
        <div class="card-image">
          <img src="images/cake2.jpg">
          <span class="card-title">Layered</span>
        </div>
        <div class="card-content">
          <p class="price">Layered $9.99</p>
        </div>
      </div>
    </div>
     <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/cake4.jpg">
          <span class="card-title">ForHer</span>
        </div>
        <div class="card-content">
          <p class="price">ForHer $9.99</p>
        </div>
      </div>
    </div>
  </div>
   </div>        
