    <h3>COOKIES</h3>
    <div class="row">
        <div class="cookies col s12">
            <img class="cookies responsive-img" src="images/cookie1.jpg">
            <img class="cookies responsive-img" src="images/cookie2.jpg">
            <img class="cookies responsive-img" src="images/cookie3.jpg">
            <img class="cookies responsive-img" src="images/cookie4.jpg">            
        </div>
    </div>
  
