<h3 class="yes">Cookies</h3>
<div class="container">
    <div class="row">
        <div class="cookies col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/cookie1.jpg">
                    <span class="card-title">EyeSee</span>
                </div>
                <div class="card-content">
                    <p class="price">EyeSee $2.99</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/cookie2.jpg">
                    <span class="card-title">Red</span>
                </div>
                <div class="card-content">
                    <p class="price">Red $2.99</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div id="muffspecial" class="card">
                <div class="card-image">
                    <img src="images/cookie3.jpg">
                    <span class="card-title">Marble</span>
                </div>
                <div class="card-content">
                    <p class="price">Marble $2.99</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/cookie4.jpg">
                    <span class="card-title">Blueish</span>
                </div>
                <div class="card-content">
                    <p class="price">Blueish $2.99</p>
                </div>
            </div>
        </div>
    </div>
</div>