<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <title>Tony's Sweet World</title>
<body>
<div class="navbar-fixed">
  <nav>
    <div class="navigation nav-wrapper">
      <a href="#!" class="brand-logo">Tony</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" id="mobile-demo">
        <li><a href="/index/">Home</a></li>
        <li><a href="/cookies/">Cookies</a></li>
        <li><a href="/cakes/">Cakes</a></li>
        <li><a href="/muffins/">Muffins</a></li>
      </ul>
    </div>
  </nav>
  </div>

    <div class="row">
        <div class="cookies col s12">
            <img class="cookies-img" src="/images/cookie1.png">
            <img class="cookies-img" src="/images/cookie2.png">
            <img class="cookies-img" src="/images/cookie3.png">
            <img class="cookies-img" src="/images/cookie4.png">            
        </div>
    </div>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>