    <h3 id="text3">Cookies</h3>
    <div class="row center-align">
        <div class="cookies col s12">
            <img id="cookies1" class="responsive-img" src="images/cookie1.jpg">
            <img id="cookies2" class="responsive-img" src="images/cookie2.jpg">           
        </div>
    </div>
    <div class="row center-align">
    <div class="col s12">
           <img id="cookies3" class="responsive-img" src="images/cookie3.jpg">
            <img id="cookies4" class="responsive-img" src="images/cookie4.jpg"> 
    </div>
    </div>
