 <div class="bakery center-align">
    <div class="row">
    <img class="bakery-store" src="images/bakery.jpg">
    </div>
    <div class="story container">
   
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition scale-out">
    <i class="material-icons">add</i>
  </a>
    <p class="truncate">Tracing its origins to the year 1960, when the Porto family made the tough decision to leave their home in Manzanillo, Cuba. After living through the drastic changes that were taking place around them, they requested permission to leave the country. Immediately Raul Sr. was terminated from his job and sent away to manual labor for the duration of the wait period. Wife, Rosa Porto was also let go. Knowing that it may take years to be able to leave the country, Rosa found herself alone and having to find a means to support her three children Betty, Raul Jr., and Margarita.

Rosa, always a talented cake maker, with a passion for baking, entrenched herself in perfecting her recipes and began selling her delicious cakes to friends and neighbors not realizing that she was also building herself a loyal customer base.</p>
    
    </div>
    <div class="bake-show">
    <div class="row">
    <div class="card col s12 m3 l4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="bake-img activator" src="images/bake5.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">COOKIES<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

   <div class="card col s12 m3 l4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="bake-img activator" src="images/bake6.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">CAKES<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

   <div class="card col s12 m3 l4">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="bake-img activator" src="images/bake7.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">MUFFINS<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>       
</div>
     
