<!DOCTYPE html>
<html lang="en">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
<link href="main.css">
  <title>Tony's Sweet World</title>
<body>
    
<%= yield %>
</body>

</html>