<h3 class="yes">Muffins</h3>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/muffin1.jpg">
                    <span class="card-title">Blueberry</span>
                </div>
                <div class="card-content">
                    <p class="price">$4.99</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/muffin3.jpg">
                    <span class="card-title">Strawberry</span>
                </div>
                <div class="card-content">
                    <p class="price">$4.99</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div id="muffspecial" class="card">
                <div class="card-image">
                    <img src="images/muffin6.jpg">
                    <span class="card-title">Wildberry</span>
                </div>
                <div class="card-content">
                    <p class="price">$4.99</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="images/muffin4.jpg">
                    <span class="card-title">Peanut</span>
                </div>
                <div class="card-content">
                    <p class="price">$4.99</p>
                </div>
            </div>
        </div>
    </div>
</div>