  <h3 id="text2">Muffins</h3>
    <div class="row center-align">
        <div class="muffins col s12">
            <img id="muffin1" class="responsive-img" src="images/muffin1.jpg">
            <img id="muffin2" class="responsive-img" src="images/muffin2.jpg">
        </div>
    </div>
    <div class="row center-align">
    <div class="col s12">
            <img id="muffin3" class="responsive-img" src="images/muffin3.jpg">
            <img id="muffin4" class="responsive-img" src="images/muffin4.jpg">
    </div>
    </div>