  <h3>MUFFINS</h3>
    <div class="row">
        <div class="muffins col s12">
            <img class="muffin responsive-img" src="images/muffin1.jpg">
            <img class="muffin responsive-img" src="images/muffin2.jpg">
            <img class="muffin responsive-img" src="images/muffin3.jpg">
            <img class="muffin responsive-img" src="images/muffin4.jpg">
        </div>
    </div>