.navigation {
    background-color: #7c4dff;
}

.bake-img {
    width: 200px;
    height: 200px;
}
.bake-show {
    box-shadow: 0;
}

.cookies {
    width: 200px;
    height: 200px;
}

.cakes{
    width: 200px;
    height: 200px;
}
.muffin {
    width: 200px;
    height: 200px;
}

