.navigation {
    background-color: #7c4dff;
    padding: 10px 15px 15px 15px;
}

#logo {
    width: 150px;
    height: 150px;
}
#head, #head1, #head2, #head3 {
    font-size: 20px;
}
.bake-img {
    width: 200px;
    height: 200px;
}
.bake-show {
    box-shadow: 0;
}

#text1, #text2, #text3 {
    color: #7c4dff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#cookies1, #cookies2, #cookies3, #cookies4 {
    width: 400px;
    height: 400px;
}

#cake1, #cake2, #cake3, #cake4 {
    width: 400px;
    height: 400px;
}

#muffin1, #muffin2, #muffin3, #muffin4 {
    width: 400px;
    height: 400px;
}

